*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    // Define o que 1rem irá valer nesse projeto
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}